


{{ $id := .Get 0 }}


<div class="sl-workshop__wrap">
    <style> 

            #toggle-{{ sha1 $id }}:checked ~ .sl-workshop{
                visibility: visible;
                opacity: 1;
            }
        
        </style>
            
    <input id='toggle-{{ sha1 $id }}' class="toggle" type="checkbox">
    <label class="sl-workshop-label sl-workshop-label--open" for="toggle-{{ sha1 $id }}">
        Mehr ▸
    </label>
    <div class="sl-workshop-thumb">
        <p class="sl-workshop-thumb_text">
            {{ .Get 0}}
        </p>
        <span class="sl-workshop-thumb_duration">
            {{ .Get 1}}
        </span>
    </div>


    <div class="sl-workshop">
        <div class="sl-workshop_content">
            <h3 class="sl-workshop_headline">{{ .Get 0 }}</h3>
            <span class="sl-workshop_target-group">Zielgruppe: {{ .Get 2 }}</span>
            {{ .Inner }}
            
            <span class="sl-workshop_duration">Workshop Dauer: {{ .Get 1 }}</span>
            <label class="sl-workshop-label sl-workshop-label--close" for="toggle-{{ sha1 $id }}">Weniger  ▲</label>
            <label class="sl-workshop-label sl-workshop-label--close sl-workshop-label--mobile" for="toggle-{{ sha1 $id }}">Weniger  ▲</label>

        </div>
    </div>
</div>
