:root {
  --sl-grape: #211d2b;
  --sl-grey: #393f4d;
  --sl-pidgeon: #7a8390;
  --sl-grape--light: #4a303d;
  --sl-overlay-background: rgba(0, 0, 0, 0.3);
  --sl-purple: #ed486a;
  --sl-teal: #03feb7;
  --sl-font-headline: "Space Mono";
  --sl-font-default: "Raleway", sans-serif;
  --sl-font-weight-regular: 400;
  --sl-font-weight-semibold: 600;
  --sl-font-weight-medium: 500;

  --sl-max-width: 984px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sl-font-default);
  font-size: 18px;
  color: white;
  background: var(--sl-grape);
  background-image: radial-gradient(#23202b, #2e191f);
  max-height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

body:after {
  content: " ";
  background-image: url("{{ .Site.BaseURL }}/img/bg_tile.png");
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.stage {
  position: relative;
  z-index: 6;
  scroll-snap-align: start;
  height: 100vh;
}

/* Header */

.active .navItem-text {
  padding: 0.2em 0;
  border-bottom: 2px solid var(--sl-purple);
}

.sl-header {
  position: relative;
  padding: 15px 32px;
  box-sizing: content-box;
  z-index: 10;
  max-width: var(--sl-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-points-y: repeat(100vh);
}

.sl-header_input {
  visibility: hidden;
  opacity: 0;
}

.sl-header_input:checked ~ .sl-header-nav {
  visibility: visible;
  opacity: 1;
}
.sl-header_toggle path {
  transition: opacity 110ms ease-out, transform 110ms ease-out,
    stroke 130ms ease-out, transform-origin 110ms ease-out;
}

.sl-header_input:checked ~ .sl-header_toggle .menu_icon-upper-stroke {
  transform: rotate(-29deg) translateY(8px) translateX(3px);
  stroke: var(--sl-teal);
  transform-origin: 50%;
}

.sl-header_input:checked ~ .sl-header_toggle .menu_icon-middle-stroke {
  opacity: 0;
}

.sl-header_input:checked ~ .sl-header_toggle .menu_icon-lower-stroke {
  transform: rotate(29deg) translateX(-9px);
  transform-origin: 50%;
  stroke: var(--sl-teal);
}

.sl-header_input:checked ~ .sl-header-nav .sl-navigation-item {
  animation: item-appear 170ms ease-in-out 1 50ms;
  animation-fill-mode: forwards;
}

.sl-header_toggle {
  display: none;
}

.sl-navigation-item {
  padding: 15px;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
}

.sl-header-nav {
  transition: 170ms ease-in-out opacity;
}

@keyframes item-appear {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 860px) {
  .sl-header-nav {
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--sl-font-headline);
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
  }
  .sl-navigation-item {
    opacity: 0;
    display: inline-block;
  }
  .sl-header_toggle {
    display: block;
    position: relative;
    z-index: 11;
  }
}

/* Home */

.home-area {
  display: grid;
  grid-template-columns: 350px auto;
  margin: 0 auto;
  align-items: center;
  max-width: var(--sl-max-width);
  padding: 0 32px;
}

.home-area--tools {
  grid-template-columns: auto 350px;
}
@media (max-width: 860px) {
  .home-area {
    grid-template-columns: auto;
  }
  .sl-toolbox {
    grid-row: 1;
    height: 400px;
  }
  .sl-toolbox img {
    height: 100%;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Astronauts */

@keyframes float {
  50% {
    transform: translateY(-100px);
  }
}

.sl-astronauts {
  height: 100px;
  position: relative;
}
.sl-astronaut-green {
  animation: float 13s ease-in-out infinite;
  position: absolute;
  left: 30px;
  top: 90px;
}
.sl-astronaut-red {
  animation: float 15s ease-in-out infinite;
  position: absolute;
  right: 63px;
  top: -80px;
}

@media (max-width: 860px) {
  @keyframes float {
    50% {
      transform: translateY(-20px);
    }
  }
  .home-area {
    padding: 200px 32px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    align-content: flex-start;
    align-items: stretch;
    height: 90vh;
  }
  .sl-astronauts {
    max-width: 320px;
  }
  .sl-astronaut-green {
    left: 0;
    bottom: 0;
    top: initial;
  }
  .sl-astronaut-red {
    right: 0;
    top: initial;
    bottom: 0;
  }
}
/* Meteor */

.sl-meteors img {
  width: 100%;
}

/* Jobs */

.jobs-container {
  padding: 120px 0;
  max-width: 1030px;
  margin: 0 auto;
}
.jobs-page {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  height: 90vh;
}
.jobs-page:nth-child(odd) {
  flex-direction: row;
}

.jobs-page:nth-child(even) .jobs-page_image {
  transform: translateX(-50px);
}

.jobs-page_description {
  width: 100%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.jobs-page_image-container {
  width: 150px;
}
.jobs-page_image {
  transform: translateX(-200px);
}

.jobs-page_inner-columns ul {
  column-count: 2;
}

.sl-bewerben_button {
  margin-top: 50px;
}

/* Paragraph */

.sl-paragraph,
p {
  max-width: 500px;
  margin: 0;
  line-height: 1.5;
}

.sl-paragraph {
  margin-bottom: 70px;
}

@media (max-width: 860px) {
  .sl-paragraph {
    font-size: 16px;
  }
}

/* Button */

.sl-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: var(--sl-teal);
  border-radius: 66px;
  font-weight: bold;
  color: var(--sl-grape);
  padding: 0.4em 1.5em;
}

/* Headline */
.sl-headline {
  font-size: 34px;
  text-transform: uppercase;
  font-family: var(--sl-font-headline);
  font-weight: var(--sl-font-weight-regular);
}
@media (max-width: 860px) {
  .sl-headline {
    max-width: 500px;
    font-size: 28px;
  }
}
/* Angebot */

.sl-angebot_container {
  max-width: var(--sl-max-width);
  margin: 0 auto;
  text-align: center;
}

.sl-angebot {
  padding: 0 32px;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sl-angebot_description {
  margin: 0 auto;

  max-width: none;
  padding: 20px 87px;
  position: relative;
}
.sl-angebot_description:after {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("{{ .Site.BaseURL }}/img/angebot_border.svg");
  background-repeat: no-repeat;
  display: block;
  width: 28px;
  height: 40px;
}
.sl-angebot_description:before {
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  background-image: url("{{ .Site.BaseURL }}/img/angebot_border.svg");
  background-repeat: no-repeat;
  display: block;
  width: 28px;
  height: 40px;
}

/* Footer */
.sl-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 5;
  scroll-snap-align: end;
}

.sl-newsletter {
  position: relative;
  z-index: 5;
  color: var(--sl-grey);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 572px;
  height: 563px;
  background-image: url("{{ .Site.BaseURL }}/img/footer_bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.sl-newsletter_headline {
  width: 220px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 0;
}

.sl-newsletter_hint {
  font-size: 14px;
  margin-bottom: 30px;
}
.sl-newsletter_input {
  padding: 12px 30px;
  margin-bottom: 18px;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.13);
  border: none;
}
.sl-newsletter_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.sl-newsletter_button {
  display: inline-flex;
  width: auto;
  border: none;
  align-items: center;
}

.sl-footer_copyright {
  padding: 12px;
}

.sl-footer_info {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
.sl-footer_infolinks a {
  display: inline-block;
  text-decoration: none;
  color: var(--sl-grey);
  opacity: 0.5;
  padding: 12px;
}

.sl-referenzen {
  position: relative;
  width: 100%;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
.sl-referenzen__image {
}

.sl-referenzen_headline {
  position: absolute;
  left: 50px;
  width: 313px;
}
.sl-referenzen_list {
  display: none;
}
.sl-referenzen_list-item {
  background: none;
  text-transform: uppercase;
  font-size: 22px;
  padding: 0 32px;
}
@media (max-width: 860px) {
  .sl-footer {
  }
  .sl-footer_info {
    align-items: center;
    flex-direction: column;
    padding: 16px;
  }
  .sl-footer_infolinks a {
    padding: 4px;
  }
  .sl-footer_copyright {
    padding: 4px;
  }
  .sl-newsletter {
    position: relative;
  }
  .sl-referenzen__image {
    display: none;
  }

  .sl-referenzen_headline {
    position: static;
    padding: 0 32px;
  }
  .sl-referenzen {
    flex-direction: column;
  }
  .sl-referenzen_list {
    display: block;
  }
}

/* Workshop */

.workshops {
  max-width: var(--sl-max-width);
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: content-box;
}

.workshops_header {
  margin-top: 70px;
  margin-bottom: 100px;
}

.workshops_grid {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  grid-row-gap: 80px;
  grid-column-gap: 10px;
  grid-template-rows: repeat(5, 104px);
}

.sl-workshop__wrap {
  position: relative;
  margin-bottom: 40px;
  height: 104px;
}
@media (min-width: 861px) {
  .workshops_grid {
    grid-template-columns: auto auto;
    grid-template-rows: 104px 104px 104px;
  }
  .sl-workshop__wrap:nth-child(1n + 2) {
    right: 50px;
  }
  .sl-workshop__wrap:nth-child(-n + 2) {
    right: -50px;
  }
  .sl-workshop__wrap:nth-child(2n + 2) {
    top: -60px;
  }

  .sl-workshop__wrap:last-child {
    right: -50px;
    top: -60px;
    grid-column: 2;
  }
}
@media (max-width: 860px) {
  .sl-workshop__wrap:nth-child(odd) {
    left: 50px;
  }
}

.sl-workshop-thumb {
  width: 432px;
  height: 100%;
  background-image: url("{{ .Site.BaseURL }}/img/workshop_bg.svg");

  color: black;
}

.sl-workshop-thumb_duration {
  background: white;
  display: flex;
  width: 50px;
  height: 50px;
  left: 220px;
  bottom: -25px;
  border: 2px solid var(--sl-teal);
  border-radius: 50px;
  position: absolute;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  font-weight: var(--sl-font-weight-semibold);
}

.sl-workshop-thumb_text {
  margin: 0;
  height: 104px;
  width: 170px;
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 65px;
}

.sl-workshop-label {
  position: absolute;
  bottom: 0;
  background: var(--sl-teal);
  color: var(--sl-grape);
  padding: 0.3em 0.9em;
  border-radius: 40px;
  font-weight: bold;
  font-size: 12px;
  z-index: 5;
  font-weight: var(--sl-font-weight-semibold);
}

.sl-workshop-label--open {
  left: 60px;
  bottom: -1em;
}

.sl-workshop-label--close {
  right: 250px;
  bottom: -10px;
}

.sl-workshop-label--mobile {
  display: none;
  top: -10px;
  bottom: initial;
}

@media (max-width: 860px) {
  .sl-workshop-label--mobile {
    display: block;
  }

  .sl-workshop-label--close {
    right: 8px;
  }
}

.sl-workshop {
  left: 0;
  background: var(--sl-overlay-background);
  visibility: hidden;
  opacity: 0;
  display: flex;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  align-items: center;
  justify-content: center;
  transition: opacity 170ms ease-in-out;
}

@media (max-width: 860px) {
  .sl-workshop {
    padding: 16px;
  }
}

.sl-workshop_content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  padding: 50px 250px 50px 40px;
  width: var(--sl-max-width);
  background-image: url("{{ .Site.BaseURL }}/img/single_workshop_bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
}

@media (max-width: 860px) {
  .sl-workshop_content {
    height: auto;
    padding: 50px 32px;
    background: none;
    background-color: #fff;
    border-radius: 8px;
  }
}

.sl-workshop_duration {
  border: 2px solid var(--sl-teal);
  height: 56px;
  width: 200px;
  font-size: 12px;
  font-weight: var(--sl-font-weight-semibold);
  border-radius: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: absolute;
  bottom: -28px;
  left: -10px;
}

@media (max-width: 860px) {
  .sl-workshop_duration {
    top: -28px;
    left: 30px;
  }
}

.sl-workshop_headline {
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: var(--sl-font-weight-semibold);
}

.sl-workshop_target-group {
  font-size: 18px;
}

.toggle {
  visibility: hidden;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.sl-workshop_target-group {
  display: inline-block;
  margin-bottom: 24px;
  color: var(--sl-pidgeon);
}

/* List */
ul {
  padding: 0;
  margin: 0;
}
li {
  align-items: center;
  list-style-type: none;
  background-image: url("{{ .Site.BaseURL }}/img/check.svg");
  background-size: 18px 18px;
  padding: 5px 0 5px 30px;
  background-position: 0 8px;
  background-repeat: no-repeat;
  margin-bottom: 24px;
}
/* Workshop */
.sl-workshop ul {
  color: var(--sl-pidgeon);
  font-size: 16px;
}
.sl-workshop li {
  margin-bottom: 14px;
}

/* Team */

.team-container {
  max-width: var(--sl-max-width);
  margin: 0 auto;
}

.team-members {
  padding: 5em 0;
  display: flex;
  justify-content: center;
}

.sl-team-member {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sl-team-member_image {
  margin-bottom: 1em;
  width: 15vw;
  height: 15vw;
}

.sl-team-member_description-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  transition: opacity 170ms ease-in-out;
  align-items: center;
  justify-content: center;
  background: var(--sl-overlay-background);
}
.sl-team-member_description {
  display: flex;
  flex-direction: column;
  width: 317px;
  height: 357px;
  background: url("{{ .Site.BaseURL }}/img/team_member-bg.svg");
  position: relative;
  padding: 30px;
  color: var(--sl-pidgeon);
  font-size: 14px;
}
.sl-team-member_description-name {
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: 0;
  color: var(--sl-grey);
  margin-bottom: 0;
}

.sl-team-member_description-text {
  padding-left: 20px;
}

.sl-team-member_input {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

.sl-team-member_close {
  z-index: 10;
  background: #fff;
  right: 10px;
  top: -10px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 40px;
  border: 2px solid var(--sl-teal);
}
/* Blog */

.sl-blog-header {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 5;
  margin-top: 120px;
}

.blog-list__container {
  position: relative;
  z-index: 5;
  max-width: var(--sl-max-width);
  height: auto;
  margin: 0 auto;
  padding: 0 32px 200px 32px;
  box-sizing: content-box;
}

.blog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.blog-list__item {
  text-decoration: none;
  background-image: none;
  margin: 0;
}

.blog-list__item:nth-child(2n - 1) {
  background: var(--sl-grape--light);
  border-radius: 4px;
}
.blog-list__item-link {
  display: grid;
  grid-template-columns: 100px auto;
  color: inherit;
  text-decoration: none;
  padding: 20px;
  padding-left: 120px;
  background-image: url("{{ .Site.BaseURL }}/img/hover_indicator.svg");
  background-repeat: no-repeat;
  background-position: -50px 50%;
}
.blog-list__item-link:hover {
  background-position: 20px 50%;
}

@media (max-width: 860px) {
  .blog-list__item {
    padding: 0;
  }
  .blog-list__item-link {
    padding: 30px 60px;
    grid-template-columns: auto;
  }
  .blog-list__item-link:hover {
    background-position: -50px 50%;
  }
  .blog-list__item-date {
    margin-bottom: 10px;
  }
  .blog-list__item-title {
    font-weight: var(--sl-font-weight-medium);
  }
}

.blog-article {
  position: relative;

  z-index: 5;
  padding: 100px 32px;
  box-sizing: content-box;
  max-width: var(--sl-max-width);
  margin: 0 auto;
}

.blog-article p,
.jobs-page_inner p {
  max-width: none;
  line-height: 1.8;
}

.blog-article pre {
  background: var(--sl-grey);
  padding: 15px 30px;
  border-radius: 4px;
  max-width: none;
}

.blog-article a {
  color: var(--sl-teal);
}

.blog-article img {
  width: 100%;
  margin: 20px 0;
}

.blog-article h1,
.blog-article h2,
.blog-article h3,
.blog-article h4,
.blog-article h5,
.jobs-page_inner h1,
.jobs-page_inner h2 {
  margin-top: 2em;
  font-family: var(--sl-font-headline);
  font-weight: var(--sl-font-weight-regular);
  text-transform: uppercase;
}

.blog-article h1 {
  font-size: 34px;
}
